:root {
    font-family: "VT323", monospace;
    font-weight: 400;
    --primary-color: #ffb742;
    /* --secondary-color: #ff5c00;  */
    --secondary-color: black;

    --tertiary-color: #c72d04;
    --background-color: #111;
    scrollbar-color: var(--primary-color) var(--secondary-color);
    font-size: clamp(18px, 3vw, 30px);
}

html {
    cursor: url('images/mouse_cursor_amber.png'), auto;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    border-radius: 8px;
    width: 50%;
    height: auto;
    margin-top: 30px;
}

.card-image {
    margin-top: 25px;
    height: auto;
    width: 90%;
    border: 3px solid #ffb742;
}

body {
    display: flexbox;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
}

div.retro-container {
    width: auto;
    height: auto;
    display: grid;
    /* grid-template-rows: auto 1fr auto; */
    overflow: hidden;
    padding: 0.0rem;
    border: 2px solid var(--primary-color);
    border-bottom: 0px;
    color: var(--primary-color);
    mask-image: linear-gradient(to bottom, #0005 50%, #000 50%);
    mask-size: 100% 2px;
    text-shadow: 0 0 0.01rem;
}

.parent-div {
    display: flex;
    /* Enable Flexbox */
    justify-content: center;
    height: 100vh;
    width: 100%;
    border: 0px solid black;
    /* For visibility */
    text-align: center;
}

main {
    overflow: hidden;
}

section {
    height: 100%;
    overflow: hidden auto;
    margin: 1rem 0;
}

@keyframes crtAnimation {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 10000%;
    }
}

body {
    box-shadow: inset 0px 0px 0rem;
    background-image: linear-gradient(0deg, #0000 10%, #fff1 90%, #0000 100%);
    animation: crtAnimation 100s linear infinite;
    background-size: 100% 80%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 columns */
    gap: 20%;
    max-width: 1200px;
    margin: 0px;
    padding: 0 20px;
}

.lang-list {
    list-style: none;
    padding: 0;
    margin: 20px auto;
    width: fit-content;
    text-align: left;
}

.lang-list li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

.lang-list img {
    width: 32px;
    height: 32px;
    margin-top: 0px;
}